*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    position:relative;
    font-family: 'Raleway', sans-serif;
}

.header, .footer{
    text-align:center;
    background:rgb(0,0,255,.8);
    color:white;
    text-shadow:1px 1px black;
}

.header{
    height:12vh;
    /* border-bottom:2px solid black; */
}

.headerIcon{
    left:5px;
}

.loginContainer{
    height:70vh;
    background:lightgray;
}

.loginCard{
    width:50%;
    height:50%;
    left:25%;
    top:25%;
    border:1px solid black;
    box-shadow:0px 0px 3px 2px rgb(0,0,0,.8);
    background:rgb(0,0,255,0.8)
}

.loginCardHeader{
    background:linear-gradient(to right,lightgray,gray);
    text-align:center;
    height:15%;
    width:100%;
}

.loginForm{
    height:85%;
    width:100%;
}


.formDiv{
    width:100%;
    text-align:center;
    top:20%;
    color:white;
    text-shadow:1px solid black;

}

.formDiv:nth-child(2){
    margin-top:15px;
}

.logininput{
    border:none;
    background:lightgray;
    outline:none;
    margin-left:5px;
    height:20px;
}

.loginBtn{
    top:15px;
    width:40%;
    margin-right:5%;
    background:rgb(0,150,0,0.9)
}

.registerBtn{
    width:40%;
    top:15px;
    margin-left:5%;
    background:rgb(255,0,0)
}

.userPanelRow{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}

.h5AddSign{
    border-radius:50%;
    border:'1px solid black';
    background:rgb(0,0,255,0.8);
    color:white;
    padding:.25em;
}

.addTopicDiv{
    width:100%;
    display:flex;
    text-align:center;
}

.topicinput{
    width:50%;
    margin-right:5px;
}

.addBtn{
    width:50px;
    background:green;
    border:none;
    color:white;
}

.messageboardWrapper{
    width:95%;
    height:50vh;
    border:1px solid black;
    left:2%;
    border-radius:1%;
    overflow: auto;
}

.topicDiv{
    width:100%;
    height:25%;
    display:flex;
}

.avatarColumn{
    width:10%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}

.topicContentColumn{
    text-align:center;
}

.topiclink{
    text-decoration:none;
    color:black;
}

.topicContentRow{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}

.topich2{
    left:5%;
}

.topich4{
    left:15%;
}

.dateh4{
    left:35%;
}



.commentBox{
    width:80%;
    height:75px;
    left:10%;
    border:2px solid black;
    box-shadow:1px 2px black;
    font-size:15px;
    transition:1s ease;
}

.hide-commentBox{
    width:0;
    height:0;
    overflow:hidden;
    left:45%;
    transition:1s ease;
    opacity:0;
}

.commentBtn{
    top:-15px;
    left:-35px;
}

.hide-commentBtn{
    opacity:0;
}

.commentContainer{
    width:90%;
    height:50vh;
    border:1px solid black;
    overflow:auto;
}

.commentRow{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    border:1px solid black;

}

.commentDiv{
    width:100%;
    height:60px;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}

.likeBar, .starRow{
    width:25%;
    height:20px;
    /* border:1px solid black; */
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}

.starWrapper{
    border:1px solid black;
    height:100%;
    width:100%;
}

.starRow{
    width:100%;
    height:100%;
}

.submitReviewBtn{
    background:rgb(0,0,255,0.8);
    border-radius:50%;
    color:white;
}

.like{
    border-radius:50
}

.topicMenuRow{
    width:100%;
    height:25%;
    /* border:1px solid black; */
}

.commentContainer{
    height:50vh;
    width:90%;
    left:5%;
    /* border:1px solid black; */
}


.errorDiv{
    text-align:center;
    background:yellow;
}



@media screen and (max-width:350px){
    .header{
        height:14vh;
    
    }
}